header{
    margin: 0 auto 20px;
    /* position: sticky;
    top: 0; */
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0;
    z-index: 999;
}
header>div{
    flex: 1;
}
.h_menu{
    width: 18px; height: 18px;
}
.h_menu>a>img{
    width: 18px; height: 18px;
}
.h_menu_wrap{
    width: 293px; height: 0;
    background-color: #5A9263;
    position: absolute;
    top: 0; left: 0;
    overflow: hidden;
    z-index: 999;        
}
.h_menu_wrap a{
    color: white;
    font-size: 26px;
    font-weight: 600;
    line-height: 250%;
    z-index: 999;
}
.h_menu:hover>.h_menu_wrap{
    height: 100%;
    animation-duration: 3s;
    padding: 30px 20px;
}
.h_menu_wrap>ul>li>ul>li>a{
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}
.h_about:hover>a{
    color: black;
    transition: 1s;
}
.h_shop>ul{
    height: 0;
    overflow: hidden;
    transition: 1s;
}
.h_shop:hover>a{
    color: black;
    transition: 1s;
}
.h_shop:hover>ul{
    height: auto;
}
.h_community>ul{
    height: 0;
    overflow: hidden;
    transition: 1s;    
}
.h_community:hover>a{
    color: black;
    transition: 1s;
}
.h_community:hover>ul{
    height: auto;
}
.h_content>ul{
    height: 0;
    overflow: hidden;
    transition: 1s;    
}
.h_content:hover>a{
    color: black;
    transition: 1s;
}
.h_content:hover>ul{
    height: auto;
}
.h_offline:hover>a{
    color: black;
    transition: 1s;
}
.h_shop>ul>li:hover>a{
    color: black;
    transition: 1s;
}
.h_community>ul>li:hover>a{
    color: black;
    transition: 1s;
}
.h_content>ul>li:hover>a{
    color: black;
    transition: 1s;
}
.h_logo a{
    width: 200x; height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/H_LOGO.png);
    background-size: 200px 80px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.h_logo>h1{
    font-size: 96px;
    font-weight: 700;
}
.h_logo>h1>a{
    color: #9BC0A1;
}
.h_right{
    display: flex;
    justify-content: flex-end;
}
.h_right>ul{
    width: 200px; height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h_right>ul>li>a{
    color: #2e8b57;
}
.h_search>a{
    display: block;
    width: 18px; height: 18px;
    background-image: url(../img/Search_color.png);
    background-size: 18px 18px;
    background-position: center;
}
.h_login .h_signup{
    font-size: 16px;
}
.h_cart>a{
    display: block;
    width: 18px; height: 18px;
    background-image: url(../img/Shopping_cart_color.png);
    background-size: 18px 18px;
    background-position: center;
}


main{
    padding-bottom: 43px;
}
main>nav{
    width: 100%;
    margin: 0 auto;
    background-color: #9bc0a165;
}
main>nav>ul{
    width: 1520px; height: 52px;
    margin: 0 auto;
    /* border-bottom: 3px solid #9BC0A1; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main>nav>ul>li>a{
    color: black;
    font-size: 16px;
}
.main_nav_best>a{
    font-size: 24px;
    font-weight: 500;
    color: orangered;
}
.main_nav_best:hover a{
    font-weight: 500;
    color: orangered;
}
.main_nav_bath:hover a{
    font-weight: 500;
    color: orangered;
}
.main_nav_kitchen:hover a{
    font-weight: 500;
    color: orangered;
}
.main_nav_food:hover a{
    font-weight: 500;
    color: orangered;
}
.main_nav_animal:hover a{
    font-weight: 500;
    color: orangered;
}
.main_nav_set:hover a{
    font-weight: 500;
    color: orangered;
}
.main_nav_all:hover a{
    font-weight: 500;
    color: orangered;
}


.main_select{
    width: 1520px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.main_select>select{
    border: 0px;
}
.main_figure{
    width: 1520px;
    margin: 0 auto;
}
.main_figure>article{
    width: 100%;
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    padding-top: 50px;
}
.main_figure img{
    width: 367px; height: 491px;
    margin-bottom: 8px;
}

.prod_img1{
    width: 367px; height: 491px;
    background-image: url(./../img/3wrap_10+2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img1:hover{
    width: 367px; height: 491px;
    background-image: url(./../img/3wrap_10+2_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img2{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_1set.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img2:hover{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_1set_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img3{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_2set.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img3:hover{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_2set_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img4{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img4:hover{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_1set_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img5{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img5:hover{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_2set_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img6{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img6:hover{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_1set_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img7{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_4set.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img7:hover{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_2set_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img8{
    width: 367px; height: 491px;
    background-image: url(./../img/corn_bodywash_set.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img8:hover{
    width: 367px; height: 491px;
    background-image: url(./../img/corn_bodywash_set_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img9{
    width: 367px; height: 491px;
    background-image: url(./../img/life_style_set.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img9:hover{
    width: 367px; height: 491px;
    background-image: url(./../img/lifestyle_set_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img10{
    width: 367px; height: 491px;
    background-image: url(./../img/eco-friendly_set.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img10:hover{
    width: 367px; height: 491px;
    background-image: url(./../img/eco_friendly_set_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img11{
    width: 367px; height: 491px;
    background-image: url(./../img/zerowaste_home_set.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img11:hover{
    width: 367px; height: 491px;
    background-image: url(./../img/zerowaste_set_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img12{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_dispenser.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prod_img12:hover{
    width: 367px; height: 491px;
    background-image: url(./../img/bodywash_dipenser_hover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.product{
    margin-bottom: 60px;
}
.product h3{
    color: #2e8b57;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}
.price{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
.price_ordi{
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}
.product ul{
    display: flex;
    margin-bottom: 8px;
}
.new{
    color: red;
    background-color: white;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid gray;
    width: 53px; height: 18px;
    text-align: center;
    margin-right: 6px;
}
.best{
    color: white;
    background-color: red;
    font-size: 13px;
    font-weight: 600;
    width: 54px; height: 19px;
    text-align: center;
    margin-right: 6px;
}
.sale{
    color: white;
    background-color: burlywood;
    font-size: 13px;
    font-weight: 600;
    width: 54px; height: 19px;
    text-align: center;
    margin-right: 6px;
}
.review{
    font-size: 12px;
    color: #757575;
}



.more_btn{
    width: 76px; height: 84px;
    margin: 82px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more_btn:hover p{
    width: 88px;
    background-color: burlywood;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}
.more_btn>a{
    color: black;
}
.more_btn p{
    width: 88px;
    background-color: #9bc0a165;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}



footer{
    width: 100%; height: 236px;
    margin: 0 auto;
    background-color: #9BC0A1;
    display: flex;
    justify-content: space-between;
}
footer>section{
    margin-right: 20px;
    margin-top: 20px;
}
.f_logo{
    flex: 1;
}
.f_logo>h1{
    width: 125px; height: 125px;
    margin-left: 26px;
    background-image: url(../img/LOGO.png);
    background-size: 125px 125px;
    background-position: center center;
    background-repeat: no-repeat;
}
.f_center{
    flex: 1; height: 141px;
    display: flex;
    justify-content: space-between;
}
.f_center>article{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2px;
}
.f_center p{
    color: #000;
    font-size: 12px;
}
.f_right{
    flex: 1;
}
.f_right>article{
    display: flex;
    justify-content: flex-end;
    gap: 100px;

}
.f_right a{
    color: #000;
}